<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head/head" . }}
    {{ partialCached "head/colorScheme" . }}

    {{ $isExplore := eq .Type "explore" }}
    <body class="dark{{ if $isExplore }} atlas-page{{ end }}">
        {{ if not $isExplore }}
        {{ partial "header.html" . }}
        {{ end }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ if not $isExplore }}
        {{ partial "footer/footer" . }}
        {{ end }}
    </body>
</html>
