{{ define "main" }} {{ $pages := .Pages }}

<header>
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p class="subtitle">
      {{ if eq .Kind "taxonomy" }}
      <span class="count">{{ len .Pages }}</span> posts tagged with "{{ .Title
      }}" {{ else }} <span class="count">{{ len .Pages }}</span> posts found. {{
      end }}
    </p>
  </div>
</header>

{{ if gt (len $pages) 0 }}
<section>
  <div class="container">
    <section>
      <section>
        <div class="posts">
          {{ range $pages }}
          <div class="post">
            <a href="{{ .RelPermalink }}">
              <div class="post-row">
                <time>{{ .Date.Format "Jan 02" }}</time>
                <h3>{{ .Title }}</h3>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
      </section>
    </section>
  </div>
</section>

{{ $paginator := .Paginate $pages }} {{ if gt $paginator.TotalPages 1}}
<section>
  <div class="container">
    <nav class="pagination">
      {{ if $paginator.HasPrev}}
      <div class="prev-page">
        <a href="{{ $paginator.Prev.URL }}">Previous Page</a>
      </div>
      {{ end }} {{ if $paginator.HasNext}}
      <div class="next-page">
        <a href="{{ $paginator.Next.URL }}">Next Page</a>
      </div>
      {{ end }}
    </nav>
  </div>
</section>
{{ end }} {{ else }}
<section>
  <div class="container">
    <div class="no-posts">
      <p>
        No posts found for this tag. This may be due to a typo in the tag name.
      </p>
      <p><a href="/articles.html">Browse all articles</a></p>
    </div>
  </div>
</section>
{{ end }} {{ end }}
