{{- if and .IsPage (eq .Section "blog") -}}
  {{- $author := .Params.author | default .Site.Params.author -}}
  {{- $aboutPath := "/about.html" -}}
  {{- if eq .Language.Lang "ko" -}}
    {{- $aboutPath = "/ko/about.html" -}}
  {{- end -}}
  {{- $aboutURL := $aboutPath | absURL -}}
  {{- $personID := printf "%s#person" $aboutURL -}}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
  <meta property="article:author" content="{{ $aboutURL }}" />
  <meta name="author" content="{{ $author }}" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ .Title | jsonify | safeJS }},
      "description": {{ (.Description | default .Summary) | plainify | jsonify | safeJS }},
      "datePublished": {{ (.Date.Format "2006-01-02T15:04:05Z07:00") | jsonify | safeJS }},
      "dateModified": {{ (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | jsonify | safeJS }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink | jsonify | safeJS }}
      },
      "author": {
        "@id": {{ $personID | jsonify | safeJS }},
        "@type": "Person",
        "name": {{ $author | jsonify | safeJS }},
        "url": {{ $aboutURL | jsonify | safeJS }}
      },
      "publisher": {
        "@id": {{ $personID | jsonify | safeJS }}
      }
    }
  </script>
{{- end -}}
